.root {
  margin: 0 5px;
  overflow: auto;
  .node {
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    &.havechaild {
      margin-left: 15px;
      &:before {
        content: "";
        display: block;
        position: absolute;
        left: -10px;
        top: 9px;
        border: 6px solid transparent;
        border-left: 8px solid white;
        transition: transform 0.2s linear;
      }
      &.active {
        &:before {
          transform: rotate(90deg) translate(7px, 3px);
        }
      }
    }
  }
  ul {
    margin-left: 10px;

    li {
      padding-left: 10px;

      position: relative;
      border-left: 2px solid white;
      &:last-child {
        border: none;
        &:before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 2px;
          height: 15px;
          background-color: white;
        }
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0px;
        top: 15px;
        width: 8px;
        height: 2px;
        background-color: white;
      }
    }
  }
}
